.DS_Store
/Backup
/Episode2/Reset, CPU and Buffers/Reset, CPU and Buffers-backups
/Episode3/Glue Logic v2/Glue Logic v2-backups
/Episode1/NOP testing the HD63C09/NOP testing the HD63C09-backups
/Episode4/Episode4-backups
